<ion-card style="margin: 12px 0; padding: 10px; border-radius: 0; box-shadow: none;"> 
  <div class="userInfoWrapper">
    <ion-avatar (click)="gotoPersonalCenter(operator._id)">
      <img [src]="operator.avatar_url" style="width: 40px; height: 40px;">
    </ion-avatar>
    <div style="flex: 1; padding-top: 2px;" (click)="gotoAnswerDetailPage()">
      <div style="color: #000; font-size: 14px;">{{operator.name}}</div>
      <div style="font-size: 12px; color: #999;">{{operation}}</div>
    </div>
    <div style="color: #999; padding-top: 12px;" (click)="gotoAnswerDetailPage()">
      {{getDateDiff(time)}}
    </div>
  </div>
  <h2 class="title" (click)="gotoTopicDetailPage()" style="margin-top: 4px; margin-bottom: 6px; font-size: 16px; color: #000; font-weight: 400;" >{{topicTitle}}</h2>
  <p class="content" (click)="gotoAnswerDetailPage()" [innerHTML]="answerContent"></p>
  <div style="display: flex; padding-top: 12px; padding-bottom: 4px;" (click)="gotoAnswerDetailPage()">
    <div style="color: #999; width: 80px;">
      <ion-icon name="heart-outline" style="font-size: 18px;"></ion-icon>
      <span class="count" style="padding-left: 6px;">{{voteCount}}</span>
    </div>
    <div style="color: #999">
      <ion-icon name="chatbubble-outline" style="font-size: 18px;"></ion-icon>
      <span class="count" style="padding-left: 6px;">{{commentCount}}</span>
    </div>
  </div>
</ion-card>