.userInfoWrapper {
    display: flex;
}

.count {
    position: relative;
    bottom: 3px;
}

.content {
    color: rgba(0, 0, 0, .8);
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    word-wrap:break-word;
    word-break:break-all;
}

.title {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
    word-wrap:break-word;
    word-break:break-all;
}