<ion-header>
  <ion-toolbar>
    <ion-title>我</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="userInfo" (click)="gotoPersonalCenter()">
    <ion-card-content >
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img [(src)]="userInfo.avatar_url" />
          </ion-avatar>
        </ion-col>
        <ion-col size="7">
          <div class="username">{{userInfo.name}}</div>
          <div style="margin-top: 8px; font-size: 14px;color: #999">
            查看个人主页
          </div>
        </ion-col>
        <ion-col size="2">
          <div class = "arrow">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


  

  <ion-item button detail=false lines='none' style="margin-bottom: 1px;" (click)="gotoPage()">
    <div class="left">
      <ion-icon name="bulb" [ngStyle]="{'color': '#2c77f6','font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">我的创作</span>
    </div>
    <div class="right">
      <span class="list-count">0个</span>
    </div>
  </ion-item>
  <ion-item button detail=false lines='none' style="margin-bottom: 1px;" (click)="gotoPage()">
    <div class="left">
      <ion-icon name="heart" [ngStyle]="{'color': '#e35c4c','font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">我赞过的</span>
    </div>
    <div class="right">
      <span class="list-count">35个</span>
    </div>
  </ion-item>
  <ion-item button detail=false lines='none' style="margin-bottom: 1px;" (click)="gotoPage()">
    <div class="left">
      <ion-icon name="star" [ngStyle]="{'color': '#f7c55f','font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">收藏集</span>
    </div>
    <div class="right">
      <span class="list-count">41个</span>
    </div>
  </ion-item>
  <ion-item button detail=false lines='none' style="margin-bottom: 1px;" (click)="gotoPage()">
    <div class="left">
      <ion-icon name="eye" [ngStyle]="{'color': '#acb4be','font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">浏览记录</span>
    </div>
    <div class="right">
      <span class="list-count">0个</span>
    </div>
  </ion-item>
  <ion-item button detail=false lines='none' style="margin-bottom: 1px;" (click)="gotoPage('tag-setting')">
    <div class="left">
      <ion-icon name="pricetags" [ngStyle]="{'color': '#acb4be','font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">标签管理</span>
    </div>
    <div class="right">
      <span class="list-count" *ngIf="userInfo">{{userInfo.tags.length}}个</span>
    </div>
  </ion-item>

  <ion-item button detail=false lines='none' style="margin-top:16px;margin-bottom: 1px;">
    <div class="left">
      <ion-icon name="moon" [ngStyle]="{'color':'#acb4be','font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">夜间模式</span>
    </div>
    <div class="right">
      <ion-toggle color="primary" [(ngModel)]="checked" (ionChange)="toggleChange()"></ion-toggle>
    </div>
  </ion-item>
  <ion-item button detail=false lines='none' style="margin-bottom: 1px;" (click)="showModal()">
    <div class="left">
      <ion-icon name="help-circle" [ngStyle]="{'color':'#acb4be','font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">意见反馈</span>
    </div>
    <div class="right">
    </div>
  </ion-item>
  <ion-item button detail=false lines='none' style="margin-bottom: 1px;" (click)="gotoPage('settings')">
    <div class="left">
      <ion-icon name="settings" [ngStyle]="{'color':'#acb4be','font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">设置</span>
    </div>
    <div class="right">
    </div>
  </ion-item>
</ion-content>


<Modal [(ngModel)]="this.isShowModal" [transparent]="true" [title]="'意见反馈'" [footer]="footer">
  <div [ngStyle]="{ height: 100, overflow: 'scroll' }">
    <TextareaItem [rows]="5" [count]="100" [placeholder]="'请输入您的意见...'"></TextareaItem>
    <div Button [type]="'primary'" (click)="feedback()">提交</div>
  </div>
</Modal>