<ion-header>
  <ion-toolbar>
    <ion-title>我</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="userInfo" (click)="gotoPersonalCenter()">
    <ion-card-content >
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img [(src)]="userInfo.avatar_url" />
          </ion-avatar>
        </ion-col>
        <ion-col size="7">
          <div class="username">{{userInfo.name}}</div>
          <div style="margin-top: 8px; font-size: 14px;color: #999">
            查看个人主页
          </div>
        </ion-col>
        <ion-col size="2">
          <div class = "arrow">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


  

  <ion-item button detail=false lines='none' *ngFor="let item of list" style="margin-bottom: 1px;">
    <div class="left">
      <ion-icon [(name)]="item.icon" [ngStyle]="{'color':item.color,'font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">{{item.title}}</span>
    </div>
    <div class="right">
      <span class="list-count">{{item.count}}</span>
    </div>
  </ion-item>

  <ion-item button detail=false lines='none' style="margin-top:16px;margin-bottom: 1px;">
    <div class="left">
      <ion-icon name="moon" [ngStyle]="{'color':'#acb4be','font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">夜间模式</span>
    </div>
    <div class="right">
      <ion-toggle color="primary"></ion-toggle>
    </div>
  </ion-item>
  <ion-item button detail=false lines='none' style="margin-bottom: 1px;">
    <div class="left">
      <ion-icon name="help-circle" [ngStyle]="{'color':'#acb4be','font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">意见反馈</span>
    </div>
    <div class="right">
    </div>
  </ion-item>
  <ion-item button detail=false lines='none' style="margin-bottom: 1px;">
    <div class="left">
      <ion-icon name="settings" [ngStyle]="{'color':'#acb4be','font-size': '24px','margin-top': '2px'}"></ion-icon>
    </div>
    <div class="medium">
      <span class="list-text">设置</span>
    </div>
    <div class="right">
    </div>
  </ion-item>
</ion-content>
