<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: 12px;">
      <ion-back-button text="" color="light" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" style="margin-top: 12px;">
      <ion-button (click)="search()">
        <ion-icon name="search-outline" style="color: #fff;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar (ionChange)="change()" [(ngModel)]="searchContent" (ionFocus)="switchToSerach()" color="primary" searchIcon="none" placeholder="搜索话题、用户、标签" style="width: 94%; float: left; margin-top: 12px;"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isSearch" style="--background: #fff!important;">
  <div style="padding: 10px; background: #fff;">
    <ion-item button detail=false lines='none' *ngFor="let item of hotSearch" [ngStyle]="{'width': '50%', 'height': '50px', 'float': 'left', 'display': 'flex'}" (click)="gotoHot(item.title)">
      <div style="width: 30px;" [ngStyle]="{'color': item.color, 'font-weight': '500', 'margin-bottom': '15px'}">
        {{item.index}}
      </div>
      <div>
        <div style="font-size: 14px;">
          {{item.title}}
        </div>
        <div style="font-size: 12px; color: #9b9b9b;">
          {{item.subTitle}}
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>

<ion-content *ngIf="isShow">
  <div *ngIf="result.length">
    <app-topic-preview
      *ngFor="let item of result"
      [title]="item.title"
      [desc]="item.description"
      [sponsor]="item.sponsor"
      [topicId]="item._id"
      [tags]="item.labels"
    >
    </app-topic-preview>
  </div>
</ion-content>