<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="share">
      <ion-icon name="book-sharp"></ion-icon>
      <ion-label>分享</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="message">
      <ion-icon name="chatbox-sharp"></ion-icon>
      <ion-label>通知</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="me">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
