ion-content {
    --background: #f4f6f9!important;
}

ion-toolbar {
    --background: #4881f7!important;
    --color: #fff!important;
}

.high-light {
    color: #f19a39!important;
}

body.dark {
    ion-content {
        --background: red!important;
    }
    
    ion-toolbar {
        --background: red!important;
        --color: red!important;
    }
}