<ion-header>
  <ion-toolbar>
    <ion-title>登录</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <InputItem
    [clear]="true"
    [placeholder]="'用户名'"
    [moneyKeyboardAlign]="'left'"
    [content]="usernameIcon"
    [(ngModel)]="postData.name"
    style="margin-top: 20px;"
  >
  </InputItem>
  <InputItem
    type="password"
    [clear]="true"
    [placeholder]="'密码'"
    [moneyKeyboardAlign]="'left'"
    [content]="passwordIcon"
    [(ngModel)]="postData.password"
    style="margin-top: 20px;"
  >
  </InputItem>
  <ion-button expand="block" (click)="loginAction()" style="margin-top: 40px;">登录</ion-button>

  <ion-item lines="none">
    <div style="text-align: center; width: 100%;">
      <a routerLink="/register" style="color: #999; font-size: 14px;">
        没有账号？现在注册
      </a>
    </div>
  </ion-item>
</ion-content>

<ng-template #usernameIcon>
  <ion-icon name="person-outline" style="font-size: 20px; color:#999;"></ion-icon>
</ng-template>
<ng-template #passwordIcon>
  <ion-icon name="lock-closed-outline" style="font-size: 20px; color:#999"></ion-icon>
</ng-template>