<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>注册</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <InputItem
    [clear]="true"
    [placeholder]="'用户名'"
    [moneyKeyboardAlign]="'left'"
    [content]="usernameIcon"
    [(ngModel)]="postData.name"
    style="margin-top: 20px;"
  >
  </InputItem>
  <InputItem
    [clear]="true"
    [placeholder]="'密码'"
    [moneyKeyboardAlign]="'left'"
    [content]="passwordIcon"
    [(ngModel)]="postData.password"
    style="margin-top: 20px;"
  >
  </InputItem>
  <InputItem
    [clear]="true"
    [placeholder]="'确认密码'"
    [moneyKeyboardAlign]="'left'"
    [content]="checkpasswordIcon"
    [(ngModel)]="checkPassword"
    style="margin-top: 20px;"
  >
  </InputItem>
  <ion-button expand="block" (click)="registerAction()" style="margin-top: 40px;">立即注册</ion-button>
</ion-content>


<ng-template #usernameIcon>
  <ion-icon name="person-outline" style="font-size: 20px; color:#999;"></ion-icon>
</ng-template>
<ng-template #passwordIcon>
  <ion-icon name="lock-closed-outline" style="font-size: 20px; color:#999"></ion-icon>
</ng-template>
<ng-template #checkpasswordIcon>
  <ion-icon name="speedometer-outline" style="font-size: 20px; color:#999"></ion-icon>
</ng-template>