.searchbar-input {
    background: red!important;
}
:host {  
    --super-tabs-toolbar-background: #fff;
    --st-indicator-color: #3d8de2;
}

.label {
    font-size: 15px;
    font-weight: 400;
    color: #314659;
}
super-tabs-toolbar.hydrated.ion-color-primary::after {
    background-image: none;
}

.rank {
    width: 30px;
    margin-top: 12px;
    padding: 16px 4px 14px 0;
    background: #fff;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
}