<ion-header>
  <ion-toolbar>
    <ion-searchbar (ionFocus)="gotoSearchPage()" color="primary" animated=true placeholder="搜索话题、用户、标签" style="width: 90%; float: left; margin-top: 10px;"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <super-tabs>
    <super-tabs-toolbar slot="top" style="border-bottom: 1px solid #ededed;">
      <super-tab-button>
        <ion-label class="label">关注</ion-label>    
      </super-tab-button>
      <super-tab-button (click)="loadRecommend()">
        <ion-label class="label">推荐</ion-label>    
      </super-tab-button>
      <super-tab-button (click)="loadHot()">
        <ion-label class="label">热榜</ion-label>    
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-content>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadFollowingData($event)" *ngIf="followingTracks.length">
            <ion-infinite-scroll-content
              loadingSpinner="crescent"
              >
              <div style="text-align: left;">
                <app-answer-preview
                  *ngFor="let item of followingTracks"
                  [topicTitle]="item.title"
                  [answerContent]="item.content"
                  [operation]="'回答了问题'"
                  [operator]="item.answerer"
                  [voteCount]="item.voteCount"
                  [commentCount]="item.replyCount"
                  [time]="item.createdAt"
                  [answerId]="item._id"
                  [topicId]="item.topicId"
                >
                </app-answer-preview>
              </div>
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadRecommendData($event)" *ngIf="recommend.length">
            <ion-infinite-scroll-content
              loadingSpinner="crescent"
              >
              <div style="text-align: left;">
                <app-topic-preview
                  *ngFor="let item of recommend"
                  [title]="item.title"
                  [desc]="item.description"
                  [sponsor]="item.sponsor"
                  [topicId]="item._id"
                  [tags]="item.labels"
                >
                </app-topic-preview>
              </div>
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <div *ngIf="hotRank.length">
            <div style="display: flex;"
            *ngFor="let item of hotRank"
            >
              <div class="rank" [ngStyle]="{'color': hotRank.indexOf(item) < 3 ? '#df4f45' : '#bea571'}">
                {{hotRank.indexOf(item) + 1}}
              </div>
              <app-topic-preview
                style="flex: 1"
                [title]="item.title"
                [desc]="item.description"
                [sponsor]="item.sponsor"
                [topicId]="item._id"
                [tags]="item.labels"
              >
              </app-topic-preview>
            </div>
          </div>
        </ion-content>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createTopic()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>