<ion-header>
  <ion-toolbar style="padding-top: 10px;">
    <ion-searchbar color="primary" animated=true placeholder="搜索话题、用户、标签" style="width: 90%; float: left;"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <Tabs
    [page]="3"
    [useOnPan]="false"
    [activeTab]="index"
    (onChange)="onChange($event)"
    (onTabClick)="onTabClick($event)"
  >
    <TabPane [title]="'关注'">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="refresh"
          refreshingSpinner="crescent">
        </ion-refresher-content>
      </ion-refresher>
    </TabPane>
    <TabPane [title]="'推荐'">
      <app-answer-preview
        [topicTitle]="testData.topicTitle"
        [answerContent]="testData.answerContent"
        [operation]="testData.operation"
        [operator]="testData.operator"
        [voteCount]="testData.voteCount"
        [commentCount]="testData.commentCount"
        [time]="testData.time"
        [answerId]="testData.answerId"
        [topicId]="testData.topicId"
      >
      </app-answer-preview>
    </TabPane>
    <TabPane [title]="'热榜'">

    </TabPane>
  </Tabs>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createTopic()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>