ion-toolbar {
    --background: #fff!important;
}

ion-content {
    --background: #fff!important;
}

ion-footer {
    ion-toolbar {
        --background: #fff!important;
    }
}
.footer {
    box-shadow: 2px 0 2px rgba(0, 0, 0, .2);
}
.img-container {
    height: 364px;
}
.img {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}