<ion-header>
  <ion-toolbar>
    <ion-title>分享</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="collection ion-padding" *ngIf="shares.length">
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        >
        <div style="text-align: left;">
          <app-share-preview 
            *ngFor="let item of shares"
            [data]="item"
          >
          </app-share-preview>
        </div>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createShare()">
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
